<a href="https://colab.research.google.com/github/smk51/Aqueduct3.0_RepRisk/blob/master/Data_Processing/historic_eia_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Water Peace and Security Data Prep:**
# **National Data**
# **Annual Update**




```
Project: Water Peace and Security Initiative Pillar 1A
Date: July 15, 2020
Author: Samantha Kuzma (samantha.kuzma@wri.org)
```
---

In [ ]:
# serbia 1994-2005 copy & save as montenegro (MNE)

# Background Info (import modules, connect to bucket, load functions)

In [ ]:
# LIST OF FUNCTIONS
# - - - READ IN DATA
# Read files on GCS into Pandas Dataframe (GCS = Google Cloud Storage)
def gcs_to_pandas(file_type):
  # Find the index of the desired file
  file_ind = [files.index(i) for i in files if file_type in str(i)]
  # Select the file
  selected_file = files[file_ind[0]]
  # Download data from file
  file_contents = selected_file.download_as_string()
  # Return contents of file (as string)
  return file_contents

def read_data(filename, head, col): 
  selected_content = gcs_to_pandas(filename)
  df = pd.read_csv(io.BytesIO(selected_content), header=head, index_col = col, encoding='latin-1')
  return df

def save_file(outDF, outname, main_folder, sub_folder):
  filename_reserved = outname
  outDF.to_csv(filename_reserved)
  !gsutil cp $filename_reserved gs://{bucket_name}/{main_folder}/{sub_folder}/{vnumber}/
  !gsutil ls gs://{bucket_name}/{main_folder}/{sub_folder}/{vnumber}/
  print('save complete!')

def make_dataframe(year_range, country_list):
  # Create a dataframe to hold all places and years
  # World bank data will be joined onto this dataframe
  # Find number of years and places
  numYEARS = len(range(year_range[0], year_range[-1]+1)) # find number of years
  numPLACES = len(country_list) #find number of places
  # create series of years for each country
  all_years  = [[i]*numPLACES for i in range(year_range[0], year_range[-1]+1)]
  y_flat = [str(y) for x in all_years for y in x]

  # Create dataframe to hold the data
  df = pd.DataFrame(index=range(0, numYEARS * numPLACES))
  df['Country'] = country_list * numYEARS
  df['Year'] = y_flat
  df.set_index(['Country', 'Year'], inplace=True)
  return df

In [ ]:
# READ IN LIBRARIES
# Python Libraries
from google.colab import auth
import uuid
import pandas as pd
import numpy as np
import io
import datetime

# Use the GCS Python API to read all the files in our bucket.
!pip install -q EIA_python
import eia

# CONNECT TO CLOUD
# Authenticate Google Cloud Storage
auth.authenticate_user()

# LINK TO GOOGLE BUCKET
# Project ID for WPSI bucket
project_id = 'wpsi-208318'

!gcloud config set project {project_id}

# WPSI bucket name
bucket_name = 'wps_pillar1a'

# Use the GCS Python API to read all the files in our bucket.
!pip install -q google-cloud-storage 
from google.cloud import storage

gcs_client = storage.Client(project=project_id)
bucket = gcs_client.bucket(bucket_name)

# Create a list of all files in the bucket
files = list(bucket.list_blobs())

Updated property [core/project].

In [ ]:
def retrieve_time_series(api, series_ID):
    """
    Return the time series dataframe, based on API and unique Series ID
    """
    #Retrieve Data By Series ID 
    series_search = api.data_by_series(series=series_ID)
    ##Create a pandas dataframe from the retrieved time series
    df = pd.DataFrame(series_search)
    return df

def main(series_ID, gid_, eid_):
    """
    Run main script
    """
    #Create EIA API using your specific API key
    api_key = "1dac9ef1f44288454f71865ae997ae10" #Sam Kuzma's key
    api = eia.API(api_key)
    #Declare desired series ID
    # series_ID='EMISS.CO2-TOTV-TT-NG-TX.A'
    df = retrieve_time_series(api, series_ID)
    df.columns = [eid_]
    df['Country'] = gid_
    df.reset_index(inplace=True)
    df['Year'] = df['index'].apply(lambda x: str(int(x)))
    df.drop(['index'], axis=1, inplace=True)
    df.set_index(['Country', 'Year'],inplace=True)
    #Print the returned dataframe df
    return df

In [ ]:
# Read in lookuptable with all API Keys
df_lk = read_data("eia_key_lookup.csv", 0, None)

In [ ]:
# create list of countrys
countries = list(set(df_lk.GID_0.tolist()))
cols = list(set(df_lk.Indicator_id.tolist()))
df_main = make_dataframe([2004, 2017], countries)
# Add empty columns to dataframe
df_main = df_main.reindex(df_main.columns.tolist() + cols, axis=1)

In [ ]:
for i in range(0, len(df_lk)):
  print(str(i))
  skey = df_lk.loc[i, 'Key'] #API Key
  gid = df_lk.loc[i, 'GID_0'] #Country Code
  eid = df_lk.loc[i, 'Indicator_id'] #Indicator ID
  try:
    # Pull data using API
    df_i = main(skey, gid, eid)
    # Update data in main table
    df_main.update(df_i)
  except:
    print(str(i), 'FAILED')

vnumber = 'v6'
save_file(df_main, "historic_eia.csv", "data_working", 'update_model_data')

In [ ]:
vnumber = 'v6'
save_file(df_main, "historic_eia.csv", "data_working", 'update_model_data')

Copying file://historic_eia.csv [Content-Type=text/csv]...
/ [1 files][830.9 KiB/830.9 KiB]
Operation completed over 1 objects/830.9 KiB.
gs://wps_pillar1a/data_working/update_model_data/v6/historic_eia.csv
gs://wps_pillar1a/data_working/update_model_data/v6/spam_agri_prd_GID_0.csv
gs://wps_pillar1a/data_working/update_model_data/v6/spam_agri_prd_GID_1.csv
gs://wps_pillar1a/data_working/update_model_data/v6/spam_agri_prd_GID_2.csv
gs://wps_pillar1a/data_working/update_model_data/v6/spam_agri_val_GID_0.csv
gs://wps_pillar1a/data_working/update_model_data/v6/spam_agri_val_GID_1.csv
gs://wps_pillar1a/data_working/update_model_data/v6/spam_agri_val_GID_2.csv
gs://wps_pillar1a/data_working/update_model_data/v6/wits_data.csv
gs://wps_pillar1a/data_working/update_model_data/v6/world_bank_data.csv
save complete!

In [ ]:
df_main

             elec_capc_hydr elec_genr_totl  ... eng_prod_othr elec_capc_wind
Country Year                                ...
HRV     2004           1.79         12.696  ...     0.0690503          0.006
COL     2004          8.917         48.778  ...      0.402663           0.01
CYP     2004              0          3.948  ...             0              0
BFA     2004          0.032          0.472  ...     0.0010016              0
SGP     2004              0         35.559  ...    0.00959533              0
...                     ...            ...  ...           ...            ...
IND     2017         40.579        1438.17  ...       2.70151         32.879
PRI     2017          0.098         16.691  ...     0.0033996          0.101
MNG     2017          0.028           5.69  ...    0.00364835          0.101
TZA     2017          0.577           7.62  ...     0.0218072              0
DZA     2017          0.275         71.483  ...     0.0057397           0.01

[3066 rows x 35 columns]